#availReturn{
    text-align: center;
}

#noReturn{
    text-align: center;
}

.btn-danger{
    display: block;
    max-width: 300px;
    margin: auto;
}

.card{
    border-style: groove;
    margin: 40px 0;
}

.alert{
    display: none;
}